* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
}

/* Variaveis Globais*/
:root {
  --color-destaque: #016cfe;
  --color-black: #101010;
  --color-white: #fafafa;
}

/* Container principal */
.container {
  display: inline;
  border-radius: 20px;
  width: 95%;
  max-width: 400px;
  background-color: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-left: 10px;
}

.content {
  min-width: 320px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* WIDGET 1: Informações do usuário */
.widget1 {
  width: 100%;
  height: 16%;
  background-color: var(--color-black);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.widget1 img {
  width: 100%;
  border-radius: 8px;
}

.info-user {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 0.6rem;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid var(--color-destaque);
}

.name-user-title {
  font-size: 1rem;
  color: var(--color-white);
  padding-bottom: 0.2rem;
  font-weight: bold;
}

.name-user-sub {
  color: #fafafab4;
  font-size: 0.8rem;
}

.info-icon {
  width: 45px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.info-icon img {
  width: 100%;
  animation: rotate 5s linear infinite;
}

/* WIDGET 2: Informações CTA2 */
.widget2 {
  width: 100%;
  height: 16%;
  background-color: var(--color-black);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.4rem;
  color: var(--color-white);
}

.title-skills {
  color: var(--color-destaque);
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.skills-icons {
  width: 25px;
  height: 25px;
}

.html:hover {
  color: rgb(238, 18, 18);
}

.css:hover {
  color: rgb(18, 113, 238);
}
.bootstrap:hover {
  color: rgb(133, 53, 238);
}

.tailwind:hover {
  color: rgb(18, 113, 238);
}

.react:hover {
  color: rgb(18, 223, 238);
}

.next:hover {
  color: rgb(48, 49, 49);
}

.typescript:hover {
  color: rgb(18, 113, 238);
}

.prisma:hover {
  color: rgb(3, 47, 104);
}

.postgresql:hover {
  color: rgb(98, 161, 243);
}

.git:hover {
  color: rgb(71, 71, 71);
}
/* WIDGET 3: Redes sociais e link do site */
.widget3 {
  height: 100%;
  height: 32%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.site {
  border-radius: 12px;
  background-color: var(--color-destaque);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.8rem;
}

.text-site {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-site h1 {
  padding-bottom: 0.3rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
}

.text-site span {
  color: #fafafab4;
  font-size: 0.8rem;
}

.img-site {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: white;
  animation: pulse 3s linear infinite;
}

.img-site img {
  width: 50%;
}

/* Redes sociais */
.redes-sociais {
  border-radius: 12px;
  width: 50%;
  height: 185px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.redes-sociais a {
  background-color: var(--color-black);
  border-radius: 10px;
  width: 45%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.redes-sociais i {
  font-size: 2.8rem;
  color: var(--color-white);
}

.linkedin {
  color: var(--color-white);
  font-size: 2.8rem;
}

.redes-sociais .linkedin:hover {
  color: rgb(22, 113, 233);
  transition: color 0.3s;
}

.instagram {
  color: var(--color-white);
  font-size: 2.8rem;
}

.redes-sociais .instagram:hover {
  color: #e1306c;
  transition: color 0.3s;
}

.github {
  color: var(--color-white);
  font-size: 2.8rem;
}

.redes-sociais .github:hover {
  color: rgb(25, 26, 25);
  transition: color 0.3s;
}

.email {
  color: var(--color-white);
  font-size: 2.8rem;
}

.redes-sociais .email:hover {
  color: #808080;
  transition: color 0.3s;
}

/* WIDGET 4: Call to action adicional */
.widget4 {
  width: 100%;
  height: 16%;
  background-color: var(--color-destaque);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  padding: 1rem;
}

.cta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}

.cta i {
  font-size: 40px;
  color: var(--color-black);
}

.cta h1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-white);
}

/* WIDGET 5: Embeds do Spotify */
.widget5 {
  width: 100%;
  height: 32%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.widget5 span {
  color: #fafafab4;
  font-size: 1rem;
  padding-top: 1rem;
}

/* ANIMAÇÕES */
.widget1,
.widget2,
.site,
.box-social,
.widget4 {
  transition: transform 0.3s ease;
}

.widget1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.widget1:hover,
.widget2:hover,
.site:hover,
.box-social:hover,
.widget4:hover {
  transform: translateY(-5px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.dev {
  display: flex;
}

.text-rotating {
  color: var(--color-destaque);
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}
